**/node_modules
**/*~
dist
package-lock.json
**/*solved*
!telemetry.config.json
/public/*.js
/public/*.html
test/vtl/__tests__
test/vtl/__mocks__
src/firebaseConfig.ts
# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log
