/* from https://stackoverflow#com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table */

#table-scroll {
    height: 40%;
    overflow: scroll;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#table-wrapper table {
    width: 100%;
}

/* #table-wrapper {
    border: 1px solid black;
} */

#table-header {
    display: table-header-group;
}

#button-more-matches {
    position: relative;
    margin: 5px;
    left: 93%;
}

.matchRow {
    margin: 5px;
    height: 30px;
    outline: 1px solid rgb(165, 164, 164);
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#more-player-matches {
    animation: spin;
}