/* from https://stackoverflow#com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table */

#table-scroll {
    height: 40%;
    overflow: scroll;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#table-wrapper table {
    width: 100%;
}

/* #table-wrapper {
    border: 1px solid black;
} */

#table-header {
    display: table-header-group;
}

#winner-cell {
    background-color: #3bd806;
}

#match-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

#match-wrapper table {
    width: 100%;
}

#match-wrapper table thead {
    background-color: #f1f1f1;
}

#match-buttons {
    /*Place div to the left of parent container*/
    position: relative;
    left: 20%;
    margin: 10px;

    /*Space out buttons with relative distance*/
    display: flex;
    justify-content: space-between;
    width: 45%;
}

#match-wrapper table tr td {
    text-align: right;
    outline: 1px solid rgb(165, 164, 164);
    padding: 10px
}

.matchRow {
    margin: 5px;
    height: 30px;
    outline: 1px solid rgb(165, 164, 164);
    cursor: pointer;
}

.player-input-group {
    padding-top: 10px;
}

.player-input-group > div {
    padding-top: 10px;
    display: table;
    vertical-align: middle;
}

.navbar {
    padding-bottom: 10px;
    border-color: black;
    border-radius: 5px;
    display: flex;
}

.navbar > div {
    padding-inline: 5px;
}

.MuiAppBar {
    border-radius: 5px;
}

.MuiToolbar > div {
    padding-inline: 5px;
}