/* from https://stackoverflow#com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table */

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 200px;
    overflow: scroll;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#table-wrapper table {
    width: 100%;
}


.matchRow {
    outline: 1px solid rgb(155, 155, 155);
}